* {
    box-sizing: border-box;
}

.column {
    margin-top: 40px;
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align:center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.image {
    width: 120px;
    height: 140px;
    align-self: left;
    margin-left: 30px;
    margin-top: 10px;
}

img{
    margin-left:auto;
    margin-right:auto;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    color:black;
}

h1{
    font-family: 'Orbitron', sans-serif;
}

p{
    text-align: center;
}


.content {
    background: white;
    color: black;
    width: 100%;
    padding: 40px;
}



#results{
    color:black;
    background:rgb(231, 230, 229);
}

.center{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
